## CONFIGURACAO PERMISSAO USUARIO LARADOCK
USER_UID=1000
USER_GID=1000

### Paths #################################################

# Point to the path of your applications code on your host
APP_CODE_PATH_HOST=../

# Point to where the `APP_CODE_PATH_HOST` should be in the container
APP_CODE_PATH_CONTAINER=/var/www

# You may add flags to the path `:cached`, `:delegated`. When using Docker Sync add `:nocopy`
APP_CODE_CONTAINER_FLAG=:cached

### APACHE ################################################

APACHE_HOST_HTTP_PORT=80
APACHE_HOST_HTTPS_PORT=443
APACHE_HOST_LOG_PATH=./logs/apache2
APACHE_SITES_PATH=./apache2/sites
APACHE_PHP_UPSTREAM_CONTAINER=php7
APACHE_PHP_UPSTREAM_PORT=9000
APACHE_PHP_UPSTREAM_TIMEOUT=60
APACHE_DOCUMENT_ROOT=/var/www/

### DATALIB ###############################################
DATA_LIB=~/.laradock

### CONFIGURACAO POSTGRES
POSTGRES_USER=default
POSTGRES_PASSWORD=secret

### CONFIGURACAO IP_LOCAL #################################
IP_LOCAL=192.168.1.30